@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&display=swap');
.card1{
    background-color:#ffffff;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
   
   
    
   
}
.maindiv
{
   /* border: 2px solid black !important; */
   
   border: none !important;

    
}
.headingcontent
{
    color:#5752ab;
    font-family:Bree Serif !important;
    font-weight: bolder !important;
    font-size: 18px;
    
}
.bookbutton{
    background-color:#ffffff !important;
    color:#171f46 !important;
    
    border: 1px solid #d7dfe9 !important;
    border-radius: 10px !important;
    font-size: 15px !important;
}
.sbutton{
    background-color:#5752ab !important;
    color:#ffffff !important;
    font-weight: bold !important;
    border: 1px solid #d7dfe9 !important;
    border-radius: 10px !important;
    font-size: 15px !important;
}
.pcontent
{
    font-family:'Roboto', sans-serif ;
    color:#323f4b !important;
    font-weight: bold !important;
}